<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/mobile-style.css">
  <title>Ecovani</title>
</head>

<body>
  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
          <img src="/assets/mainLogo (2).png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-right text-dark"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active dropdown">
              <div class="dropdown dropdown-hover">
                <a onclick="resetSort()" href="/products" class="nav-link">All Products &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
                <div class="dropdown-content">
                  <% categories.forEach(function(c){ %>
                  <% var slug = c.slug %>
                  <a onclick="resetSortByCategory()" href="/products/<%= c.slug %>"><%= c.title %></a>
                  <% }); %>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link cart" href="/cart/checkout">Cart
                <% if (typeof cart !== "undefined") { %>
                <small style="color: white;" class="cart-number"><b><%= cart.length %></b></small>
                <% } else {%>
                <i class="fas fa-shopping-cart fa-1x"></i>
                <% } %>
              </a>
            </li>
            <li id="search" class="nav-item">
              <i class="fa fa-search" aria-hidden="true"></i>
            </li>
            <li class="nav-item">
              <%if(user){%>
                  <div class="dropdown dropdown-hover">
                    <%if(user.username){%>
                      <a class="nav-link"><%=user.username%> &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i></a>                      
                    <%}else{%>
                      <a class="nav-link"><%=user.displayName%> &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <%}%>
                    <div class="dropdown-content">
                      <a href="/orders">View payment history</a>
                      <a href="/logout">Logout</a>
                    </div>
                  </div>
              <%}else{%>
                <i><a class="nav-link" href="/login">Not logged in</a></i>
              <%}%>
            </li>
          </ul>

        </div>
      </nav>
      <div class="searchBar">
        <div class="searchArea">
          <div class="input-group rounded">
            <form id="searchForm" class="form-inline" action="/search" method="GET" autocomplete="off">
              <input name="q" placeholder="Search" />
              <span class="border-0" id="search-addon">
                <a href="#" onclick="document.getElementById('searchForm').submit();"><i type="submit" class="fas fa-search"></i></a>
              </span>
            </form>
          </div>
        </div>
        <div class="searchOverlay"></div>
      </div>

      <!-- Script for searchBar -->
      <script type="text/javascript">
        window.addEventListener("load", () => {
            document.body.classList.remove("preload");
        });
        const nav = document.querySelector(".searchBar");
        document.querySelector("#search").addEventListener("click", function() {
          nav.classList.add("open");
        });

        document.querySelector(".searchOverlay").addEventListener("click", function() {
          nav.classList.remove("open");
        });
      </script>
    </div>
