<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/mobile-style.css">
  <title>Ecovani</title>
</head>

<body>

  <main>

    <!---single product details ----->
    <div class="container-fluid single-product">
      <div class="row">
        <div class="col-6 productImage">
          <!-- <script>
            document.write('<a class="go-back-button" href="' + document.referrer + '"><</a>');
          </script> -->
          <p class="detailTitle"><a class="text-dark" href="javascript:history.back()"><i class="fas fa-chevron-left mr-2"></i></a> Product Details</p>
          <p class="go-back-breadcrumb"><a href="/"> Home</a> / <a href="/products"> All products</a> / <a href="/products/<%=p.category%>"><%=p.category%></a> / <%=p.title%></p>
          <img class="mb-2" src="/product_images/<%=p.id%>/<%=p.image%>" width="75%" height="74%" id="productImg">
          <div class="small-img-row">
            <% galleryImages.slice().reverse().forEach(function(image){%>
            <%if(image != "thumbs") {%>
            <div class="small-img-col">
              <img src="/product_images/<%=p.id%>/gallery/<%=image%>" width="100%" height="75%" class="small-img">
            </div>
            <%}%>
              <%})%>
          </div>
        </div>
        <div class="col-6 details">
          <nav class="navbar navbar-expand-lg">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link cart" href="/cart/checkout">Cart
                  <% if (typeof cart !== "undefined") { %>
                  <small class="cart-number"><b><%= cart.length %></b></small>
                  <% } else {%>
                  <i class="fas fa-shopping-cart fa-1x"></i>
                  <% } %>
                </a>
              </li>
            </ul>
          </nav>

          <form class="submitToCart" action="/cart/add/<%=p.slug%>" method="post">
            <% var category = p.category.charAt(0).toUpperCase() + p.category.slice(1); %>
            <p class="category"><%=category%></p>
            <br>
            <h1 class="form-group"><%=title%></h1>
            <p class="price"><%=parseFloat(p.price).toLocaleString('en-US', {style: 'currency', currency: 'VND'})%></p>
            <p class="description text-justify"><%=p.description%></p>
            <div class="sizeGuide">
              <h4>Size <i class="fa fa-question-circle" aria-hidden="true"></i></h4>
              <%if(p.category === "t-shirt"){%>
              <table class="sizeTable">
                <tr>
                  <th class="borderless"></th>
                  <th colspan="3">Men</th>
                  <th colspan="3">Women</th>
                </tr>
                <tr>
                  <th class="borderless">Size (cm)</th>
                  <th class="borderless">Length</th>
                  <th class="borderless">Shoulder</th>
                  <th>Chest</th>
                  <th class="borderless">Length</th>
                  <th class="borderless">Shoulder</th>
                  <th>Chest</th>
                </tr>
                <tr>
                  <td>S</td>
                  <td>66</td>
                  <td>40</td>
                  <td>98</td>
                  <td>58</td>
                  <td>34</td>
                  <td>82</td>
                </tr>
                <tr>
                  <td>M</td>
                  <td>68</td>
                  <td>42</td>
                  <td>100</td>
                  <td>60</td>
                  <td>37</td>
                  <td>84</td>
                </tr>
                <tr>
                  <td>L</td>
                  <td>70</td>
                  <td>44</td>
                  <td>102</td>
                  <td>62</td>
                  <td>38</td>
                  <td>86</td>
                </tr>
                <tr>
                  <td>XL</td>
                  <td>72</td>
                  <td>46</td>
                  <td>104</td>
                  <td>64</td>
                  <td>40</td>
                  <td>88</td>
                </tr>
              </table>
              <%}else{%>
              <table class="sizeTable">
                <tr>
                  <th class="borderless">Size (cm)</th>
                  <th class="borderless">Sleeves</th>
                  <th class="borderless">Chest</th>
                  <th>Length</th>
                </tr>
                <tr>
                  <td>S</td>
                  <td>57</td>
                  <td>55</td>
                  <td>69</td>
                </tr>
                <tr>
                  <td>M</td>
                  <td>58</td>
                  <td>57</td>
                  <td>71</td>
                </tr>
                <tr>
                  <td>L</td>
                  <td>60</td>
                  <td>60</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td class="borderless">XL</td>
                  <td>61</td>
                  <td>62</td>
                  <td>76</td>
                </tr>
              </table>
              <%}%>
            </div>
            <div class="sizeOptions">
              <input id="1" type="radio" class="hidebx" name="size" value="Small" checked>
              <label for="1" class="lbl-radio">
                <div class="display-box">
                  <div class="size">S</div>
                </div>
              </label>
              <input id="2" type="radio" class="hidebx" name="size" value="Medium">
              <label for="2" class="lbl-radio">
                <div class="display-box">
                  <div class="size">M</div>
                </div>
              </label>
              <input id="3" type="radio" class="hidebx" name="size" value="Large">
              <label for="3" class="lbl-radio">
                <div class="display-box">
                  <div class="size">L</div>
                </div>
              </label>
              <input id="4" type="radio" class="hidebx" name="size" value="XL">
              <label for="4" class="lbl-radio">
                <div class="display-box">
                  <div class="size">XL</div>
                </div>
              </label>
            </div>
            <h4 class="quantity">Quantity</h4>
            <input class="quantityInput" name="quantity" type="number" value="1" min="1">
            <button type="submit" class="btn btn-light px-5 py-2 add-to-cart">Add to cart</button>
          </form>
        </div>
      </div>
    </div>

    <div class="small-container">
      <div class="row row-2">
        <h2>Related Products</h2>
      </div>
    </div>

    <section class="productPage">
      <div class="small-container">
        <div class="row">
          <%relatedProducts.forEach(function(products){%>
              <div class="col-4">
                <a href="/product/<%= products.category %>/<%= products.slug %>">
                  <img class="mb-3 pimage" src="/product_images/<%=products._id%>/<%=products.image%>" alt="">
                  <h4><%=products.title%></h4>
                  <p><%=products.price.toLocaleString('en-US', {style: 'currency', currency: 'VND'})%></p>
                </a>
              </div>
              <%})%>
            </div>
        </div>
      </section>
  </main>

  <%- include('partials/indexFooter') %>

  <script>
  // Script to open small product images in the product detail page
  var productImg = document.getElementById("productImg");
  var smallImg = document.getElementsByClassName("small-img");

  smallImg[0].onclick = function() {
    productImg.src = smallImg[0].src;
  }
  smallImg[1].onclick = function() {
    productImg.src = smallImg[1].src;
  }
  smallImg[2].onclick = function() {
    productImg.src = smallImg[2].src;
  }
  smallImg[3].onclick = function() {
    productImg.src = smallImg[3].src;
  }
  </script>
